<div *ngIf="task" class="centered-content">
    <div class="modal-box">
      <h1 class="title">
        Edit task
      </h1>
      <input [ngModel]="task.title" #taskTitleInput class="input has-background-light is-medium" [ngClass]="{'is-warning': warning}" type="text" placeholder="Enter task name...">
      <br>
      <br>
      <textarea [ngModel]="task.description" #taskDescriptionInput rows="5" class="textarea has-background-light is-medium" placeholder="Enter description name..."></textarea>
      <br><br>
      <div class="buttons is-right">
        <button class="button is-medium" [routerLink]="['/application/lists/', listId]">Cancel</button>
        <button class="button is-primary has-text-white is-medium" (click)="updateTask(taskTitleInput.value, taskDescriptionInput.value)">Save</button>
      </div>
    </div>
  </div>
